/* YOUR CUSTOM STYLES */
html,
body,
header,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: #4285F4;
}
/*Intro*/

.view {
    background: url("./img/monde.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

background {

	background-size:cover;
	
}

.service_article {
    text-align:center;
    padding:10px;

}

.service_article img{
    
    height:200px;
    width:265px;
    margin-bottom:20px;
}

#cacherConsumer{
	display: none;
}
#cacherProducer, #cacherProducer2{
	display: none;
} 
#cacherPointSale, #cacherPointSale2{
	display: none;
}

table {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border: medium solid #6495ed;
    border-collapse: collapse;

}
th {
font-family: monospace;
text-align:center;
border: thin solid #6495ed;
padding: 5px;
background-color: #D0E3FA;
background-image: url(sky.jpg);
}
td {
text-align:center;
font-family: sans-serif;
border: thin solid #6495ed;
padding: 5px;
text-align: center;
background-color: #ffffff;
}
td img{
    height: 70px;
    width: 100px;
    
}

caption {
font-family: sans-serif;
}